/* top line bg */
.navigation {
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #ffffff;
}
/* end top line bg */

/* logo */
.logo-web {
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo-studio-header {
  color: #000000;
}

/* end logo */

.header {
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
}

/*  navigation  */
.menu {
  list-style: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: flex;
  padding-left: 453px;
}

.menu-item {
  margin-right: 50px;
}
.link {
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}
.link:hover {
  color: #2196f3;
}
.studio {
  width: 49px;
  height: 16px;
  left: 453px;
  top: 32px;
}
.portpholio {
  width: 77px;
  height: 16px;
  left: 552px;
  top: 32px;
}
.contaccts {
  width: 68px;
  height: 16px;
  left: 679px;
  top: 32px;
}
.contacts-menu {
  list-style: none;
  display: flex;
  padding-left: 1078px;
  margin-top: -40px;
}

.contacts-menu-item {
  color: #757575;
  text-decoration: none;
  padding-right: 50px;
}
.contacts-menu-item:hover {
  color: #2196f3;
}
/*  end navigation  */
/*  maine section  */

.main-section {
  width: 1170px;
  height: 1360px;
  padding-left: 215px;
}

/*  end maine section  */

/* buttons  */

.filter-button {
  list-style: none;
  display: flex;
  padding-left: 280px;
  width: 611px;
  height: 54px;
  left: 495px;
  top: 174px;
}
.all-button {
  width: 73px;
  height: 38px;
  left: 576px;
  top: 174px;
  color: #212121;
  border-radius: 4px;
  background: #f5f4fa;
  border: none;
}
.all-button:hover {
  color: #ffffff;
  background: #2196f3;
  cursor: pointer;
}
.web-site-button {
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;
  border: none;
  background: #f5f4fa;
  border-radius: 4px;
  margin-left: 8px;
}
.web-site-button:hover {
  color: #ffffff;
  background: #2196f3;
  cursor: pointer;
}
.app-button {
  border: none;
  width: 145px;
  height: 38px;
  left: 712px;
  top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-left: 8px;
}
.app-button:hover {
  color: #ffffff;
  background: #2196f3;
  cursor: pointer;
}
.desing-button {
  border: none;
  width: 103px;
  height: 38px;
  left: 865px;
  top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-left: 8px;
}
.desing-button:hover {
  color: #ffffff;
  background: #2196f3;
  cursor: pointer;
}
.marketing-button {
  border: none;
  width: 130px;
  height: 38px;
  left: 976px;
  top: 174px;
  background: #f5f4fa;
  margin-left: 8px;
}
.marketing-button:hover {
  color: #ffffff;
  background: #2196f3;
  cursor: pointer;
}

/*  end buttons  */

/*  text properties  */

p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #757575;
  padding-left: 24px;
}
h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  font-family: Roboto;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  margin-left: 24px;
  margin-bottom: -20px;
}

/*  end text properties  */

/*  projects   */

img {
  width: 360px;
  height: 294px;
}

.list {
  margin: 0 auto;
  font-size: 0;
  padding-left: 0px;
}

.list-item {
  display: inline-block;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

/*  end projects  */

/*  footer  */
.back {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;
  background: #2f303a;
}

.end-logo {
  display: flex;
  text-decoration: none;
  padding-left: 215px;
  padding-top: 60px;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo-studio {
  display: flex;
  color: #ffffff;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.contact {
  padding-left: 215px;
  list-style: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.contacts-end {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.contacts-end-mail {
  margin-top: 9px;
}
.contacts-end-tel {
  margin-top: 9px;
}

.superscription {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
/*  end footer  */
